@{
    ViewBag.Title = "強制修改密碼";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>強制修改密碼 @ViewBag.UserName</h2>
@using (Html.BeginForm())
{
    <div class="alert alert-danger">
        <h4>
            請密切注意！
        </h4>
        <p>
            此為管理者功能，會直接修改使用者的密碼！
        </p>
    </div>
    <div>
        <label class="control-label">新密碼</label>
        <div>
            @Html.TextBox("newPw", null, new { @class = "form-control" })
            @Html.Hidden("Id", ViewData["id"])
        </div>
    </div>

    <div class="form-actions">
        <button class="btn btn-primary" type="submit">&nbsp;確定</button>
        <button type="button" data-closelightbox="true" class="btn btn-warning">&nbsp;取消</button>
    </div>


}
